.kt-portlet--small {
  border: 1px solid #E0E1E8;
  box-shadow: none;

  .kt-portlet__head {
    background: #F2F3F8;
    min-height: 32px !important;

    .kt-portlet__head-title {
      font-size: 14px !important;
    }
  }
}
